In [115]:
import pandas as pd
import numpy as np
# from dotenv import load_dotenv
from pandas.tseries.offsets import DateOffset
import os
import requests
import datetime
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.requests import CryptoLatestQuoteRequest
from alpaca.data.requests import CryptoTradesRequest
from alpaca.data.timeframe import TimeFrame

In [116]:
# load_dotenv()

In [117]:
# alpaca_api_key = os.getenv("ALPACA_API_KEY")
# alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [118]:
# type(alpaca_api_key)

In [119]:
crypto_client = CryptoHistoricalDataClient()

In [120]:
request_params = CryptoBarsRequest(
    symbol_or_symbols=["ETH/USD"],
    timeframe=TimeFrame.Hour, start='2021-09-30 00:00:00'
)

eth_bars = crypto_client.get_crypto_bars(request_params)

eth_df = eth_bars.df

eth_df

                                     open    high     low   close    volume  \
symbol  timestamp
ETH/USD 2021-09-30 00:00:00+00:00  2849.8  2934.8  2838.3  2934.2   706.304
        2021-09-30 01:00:00+00:00  2935.8  2985.4  2918.2  2961.0   760.251
        2021-09-30 02:00:00+00:00  2965.4  2994.4  2961.1  2990.6  3886.627
        2021-09-30 03:00:00+00:00  2992.0  3035.8  2970.0  3029.0  5551.980
        2021-09-30 04:00:00+00:00  3030.3  3049.2  3014.0  3017.1   401.627
...                                   ...     ...     ...     ...       ...
        2022-09-30 04:00:00+00:00  1327.8  1331.0  1326.1  1328.5   809.636
        2022-09-30 05:00:00+00:00  1328.5  1335.6  1328.4  1330.0   210.578
        2022-09-30 06:00:00+00:00  1330.0  1335.1  1330.0  1333.4   459.190
        2022-09-30 07:00:00+00:00  1333.4  1346.7  1333.0  1339.7  3756.280
        2022-09-30 08:00:00+00:00  1339.9  1341.8  1337.8  1339.5   291.599

                                   trade_count         vwap
symbol  timestamp
ETH/USD 2021-09-30 00:00:00+00:00        393.0  2887.453790
        2021-09-30 01:00:00+00:00        352.0  2957.585712
        2021-09-30 02:00:00+00:00        573.0  2975.692584
        2021-09-30 03:00:00+00:00        669.0  2991.111283
        2021-09-30 04:00:00+00:00        115.0  3030.674760
...                                        ...          ...
        2022-09-30 04:00:00+00:00        992.0  1328.659008
        2022-09-30 05:00:00+00:00       1138.0  1332.107940
        2022-09-30 06:00:00+00:00       1181.0  1332.742457
        2022-09-30 07:00:00+00:00       1745.0  1341.170167
        2022-09-30 08:00:00+00:00        312.0  1339.603621

[8751 rows x 7 columns]

In [121]:
eth_df.dtypes

open           float64
high           float64
low            float64
close          float64
volume         float64
trade_count    float64
vwap           float64
dtype: object

In [122]:
eth_df = eth_df.reset_index()
eth_df = eth_df.set_index('timestamp')
eth_df = eth_df.drop(columns=['symbol'])

eth_df

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2021-09-30 00:00:00+00:00,2849.8,2934.8,2838.3,2934.2,706.304,393.0,2887.453790
2021-09-30 01:00:00+00:00,2935.8,2985.4,2918.2,2961.0,760.251,352.0,2957.585712
2021-09-30 02:00:00+00:00,2965.4,2994.4,2961.1,2990.6,3886.627,573.0,2975.692584
2021-09-30 03:00:00+00:00,2992.0,3035.8,2970.0,3029.0,5551.980,669.0,2991.111283
2021-09-30 04:00:00+00:00,3030.3,3049.2,3014.0,3017.1,401.627,115.0,3030.674760
...,...,...,...,...,...,...,...
2022-09-30 04:00:00+00:00,1327.8,1331.0,1326.1,1328.5,809.636,992.0,1328.659008
2022-09-30 05:00:00+00:00,1328.5,1335.6,1328.4,1330.0,210.578,1138.0,1332.107940
2022-09-30 06:00:00+00:00,1330.0,1335.1,1330.0,1333.4,459.190,1181.0,1332.742457
2022-09-30 07:00:00+00:00,1333.4,1346.7,1333.0,1339.7,3756.280,1745.0,1341.170167
2022-09-30 08:00:00+00:00,1339.9,1341.8,1337.8,1339.5,291.599,312.0,1339.603621

In [123]:
# Use the pct_change function to generate  returns from close prices
eth_df["Actual Returns"] = eth_df["close"].pct_change()

# Drop na
eth_df=eth_df.dropna()

In [124]:
# Initialize the new Signal column
eth_df['Signal'] = 0.0

# When Actual Returns are greater than or equal to 0, generate signal to buy stock long
eth_df.loc[(eth_df['Actual Returns'] >= 0), 'Signal'] = 1

# When Actual Returns are less than 0, generate signal to sell stock short
eth_df.loc[(eth_df['Actual Returns'] < 0), 'Signal'] = -1

eth_df

C:\Users\gtkhh\AppData\Local\Temp\ipykernel_30656\576034806.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eth_df['Signal'] = 0.0

,open,high,low,close,volume,trade_count,vwap,Actual Returns,Signal
timestamp,,,,,,,,,
2021-09-30 01:00:00+00:00,2935.8,2985.4,2918.2,2961.0,760.251,352.0,2957.585712,0.009134,1.0
2021-09-30 02:00:00+00:00,2965.4,2994.4,2961.1,2990.6,3886.627,573.0,2975.692584,0.009997,1.0
2021-09-30 03:00:00+00:00,2992.0,3035.8,2970.0,3029.0,5551.980,669.0,2991.111283,0.012840,1.0
2021-09-30 04:00:00+00:00,3030.3,3049.2,3014.0,3017.1,401.627,115.0,3030.674760,-0.003929,-1.0
2021-09-30 05:00:00+00:00,3023.0,3041.3,3019.5,3029.7,141.883,108.0,3025.002656,0.004176,1.0
...,...,...,...,...,...,...,...,...,...
2022-09-30 04:00:00+00:00,1327.8,1331.0,1326.1,1328.5,809.636,992.0,1328.659008,0.000678,1.0
2022-09-30 05:00:00+00:00,1328.5,1335.6,1328.4,1330.0,210.578,1138.0,1332.107940,0.001129,1.0
2022-09-30 06:00:00+00:00,1330.0,1335.1,1330.0,1333.4,459.190,1181.0,1332.742457,0.002556,1.0
2022-09-30 07:00:00+00:00,1333.4,1346.7,1333.0,1339.7,3756.280,1745.0,1341.170167,0.004725,1.0
2022-09-30 08:00:00+00:00,1339.9,1341.8,1337.8,1339.5,291.599,312.0,1339.603621,-0.000149,-1.0

In [125]:
# Assign a copy of the sma_fast and sma_slow columns to a features DataFrame called X
X = eth_df[['open', 'high','low','close','volume', 'trade_count']].shift().dropna()

# Review the DataFrame
X.head()

,open,high,low,close,volume,trade_count
timestamp,,,,,,
2021-09-30 02:00:00+00:00,2935.8,2985.4,2918.2,2961.0,760.251,352.0
2021-09-30 03:00:00+00:00,2965.4,2994.4,2961.1,2990.6,3886.627,573.0
2021-09-30 04:00:00+00:00,2992.0,3035.8,2970.0,3029.0,5551.980,669.0
2021-09-30 05:00:00+00:00,3030.3,3049.2,3014.0,3017.1,401.627,115.0
2021-09-30 06:00:00+00:00,3023.0,3041.3,3019.5,3029.7,141.883,108.0

In [126]:
# Create the target set selecting the Signal column and assiging it to y
y = eth_df['Signal']

# Review the value counts
y

timestamp
2021-09-30 01:00:00+00:00    1.0
2021-09-30 02:00:00+00:00    1.0
2021-09-30 03:00:00+00:00    1.0
2021-09-30 04:00:00+00:00   -1.0
2021-09-30 05:00:00+00:00    1.0
                            ...
2022-09-30 04:00:00+00:00    1.0
2022-09-30 05:00:00+00:00    1.0
2022-09-30 06:00:00+00:00    1.0
2022-09-30 07:00:00+00:00    1.0
2022-09-30 08:00:00+00:00   -1.0
Name: Signal, Length: 8750, dtype: float64

In [127]:
# Select the start of the training period
training_begin = X.index.min()

# Display the training begin date
print(training_begin)

2021-09-30 02:00:00+00:00

In [128]:
# Select the ending period for the training data with an offset of 12 months
training_end = X.index.min() + DateOffset(months=6)

# Display the training end date
print(training_end)

2022-03-30 02:00:00+00:00

In [129]:
# Generate the X_train and y_train DataFrames
X_train = X.loc[training_begin:training_end]
y_train = y.loc[training_begin:training_end]

# Review the X_train DataFrame
X_train

,open,high,low,close,volume,trade_count
timestamp,,,,,,
2021-09-30 02:00:00+00:00,2935.8,2985.4,2918.2,2961.0,760.251,352.0
2021-09-30 03:00:00+00:00,2965.4,2994.4,2961.1,2990.6,3886.627,573.0
2021-09-30 04:00:00+00:00,2992.0,3035.8,2970.0,3029.0,5551.980,669.0
2021-09-30 05:00:00+00:00,3030.3,3049.2,3014.0,3017.1,401.627,115.0
2021-09-30 06:00:00+00:00,3023.0,3041.3,3019.5,3029.7,141.883,108.0
...,...,...,...,...,...,...
2022-03-29 22:00:00+00:00,3397.0,3403.0,3362.4,3377.1,8587.049,4588.0
2022-03-29 23:00:00+00:00,3376.1,3391.4,3345.1,3386.3,561.135,728.0
2022-03-30 00:00:00+00:00,3385.7,3406.2,3378.5,3402.6,118.148,252.0
2022-03-30 01:00:00+00:00,3401.8,3401.8,3356.4,3374.4,182.171,354.0
2022-03-30 02:00:00+00:00,3373.6,3377.7,3335.3,3346.4,333.906,349.0

In [130]:
# Generate the X_test and y_test DataFrames
X_test = X.loc[training_end+DateOffset(hours=1):]
y_test = y.loc[training_end+DateOffset(hours=1):]

# Review the X_test DataFrame
X_test

,open,high,low,close,volume,trade_count
timestamp,,,,,,
2022-03-30 03:00:00+00:00,3345.6,3380.0,3343.6,3372.8,815.337,597.0
2022-03-30 04:00:00+00:00,3372.0,3389.6,3372.0,3385.2,88.532,198.0
2022-03-30 05:00:00+00:00,3385.3,3392.7,3364.0,3372.0,322.144,259.0
2022-03-30 06:00:00+00:00,3371.9,3409.1,3370.4,3405.9,415.743,366.0
2022-03-30 07:00:00+00:00,3405.1,3417.9,3392.2,3405.9,248.753,315.0
...,...,...,...,...,...,...
2022-09-30 04:00:00+00:00,1327.3,1329.8,1320.5,1327.6,1319.508,1499.0
2022-09-30 05:00:00+00:00,1327.8,1331.0,1326.1,1328.5,809.636,992.0
2022-09-30 06:00:00+00:00,1328.5,1335.6,1328.4,1330.0,210.578,1138.0
2022-09-30 07:00:00+00:00,1330.0,1335.1,1330.0,1333.4,459.190,1181.0
2022-09-30 08:00:00+00:00,1333.4,1346.7,1333.0,1339.7,3756.280,1745.0

In [131]:
# Scale the features DataFrames

# Create a StandardScaler instance
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

# Apply the scaler model to fit the X-train data
X_scaler = scaler.fit(X_train)

# Transform the X_train and X_test DataFrames using the X_scaler
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)