In [98]:
import pandas as pd
import numpy as np
# from dotenv import load_dotenv
import os
import requests
import datetime
from alpaca.data.historical import CryptoHistoricalDataClient
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.requests import CryptoLatestQuoteRequest
from alpaca.data.requests import CryptoTradesRequest
from alpaca.data.timeframe import TimeFrame

In [99]:
# load_dotenv()

In [100]:
# alpaca_api_key = os.getenv("ALPACA_API_KEY")
# alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [101]:
# type(alpaca_api_key)

In [102]:
crypto_client = CryptoHistoricalDataClient()

In [103]:
request_params = CryptoBarsRequest(
    symbol_or_symbols=["ETH/USD"],
    timeframe=TimeFrame.Day, start='2022-06-01 00:00:00'
)

eth_bars = crypto_client.get_crypto_bars(request_params)

eth_df = eth_bars.df

eth_df

                                     open    high     low   close      volume  \
symbol  timestamp
ETH/USD 2022-06-01 05:00:00+00:00  1934.6  1971.0  1761.5  1813.7   47734.676
        2022-06-02 05:00:00+00:00  1815.1  1852.4  1779.6  1814.9   39921.297
        2022-06-03 05:00:00+00:00  1815.0  1824.4  1732.0  1766.5   46451.711
        2022-06-04 05:00:00+00:00  1767.2  1814.2  1755.6  1789.8    5518.763
        2022-06-05 05:00:00+00:00  1790.0  1882.4  1771.2  1880.4   17919.603
...                                   ...     ...     ...     ...         ...
        2022-09-25 05:00:00+00:00  1327.8  1336.2  1270.0  1294.5   35926.901
        2022-09-26 05:00:00+00:00  1294.6  1392.1  1278.8  1380.6   67663.865
        2022-09-27 05:00:00+00:00  1380.7  1400.0  1267.5  1283.9  106748.569
        2022-09-28 05:00:00+00:00  1283.7  1355.6  1252.3  1342.0   71509.850
        2022-09-29 05:00:00+00:00  1341.8  1348.3  1287.2  1333.8   67538.000

                                   trade_count         vwap
symbol  timestamp
ETH/USD 2022-06-01 05:00:00+00:00      12034.0  1876.647531
        2022-06-02 05:00:00+00:00       8604.0  1818.182760
        2022-06-03 05:00:00+00:00       9970.0  1770.466358
        2022-06-04 05:00:00+00:00       2365.0  1788.790718
        2022-06-05 05:00:00+00:00       4613.0  1821.562645
...                                        ...          ...
        2022-09-25 05:00:00+00:00      32457.0  1309.643400
        2022-09-26 05:00:00+00:00      35864.0  1345.612775
        2022-09-27 05:00:00+00:00      35943.0  1343.747512
        2022-09-28 05:00:00+00:00      35749.0  1325.222763
        2022-09-29 05:00:00+00:00      24401.0  1322.625155

[121 rows x 7 columns]

In [104]:
eth_df.dtypes

open           float64
high           float64
low            float64
close          float64
volume         float64
trade_count    float64
vwap           float64
dtype: object

In [108]:
eth_df = eth_df.reset_index()
eth_df = eth_df.set_index('timestamp')
eth_df = eth_df.drop(columns=['index','symbol'])

eth_df

,open,high,low,close,volume,trade_count,vwap
timestamp,,,,,,,
2022-06-01 05:00:00+00:00,1934.6,1971.0,1761.5,1813.7,47734.676,12034.0,1876.647531
2022-06-02 05:00:00+00:00,1815.1,1852.4,1779.6,1814.9,39921.297,8604.0,1818.182760
2022-06-03 05:00:00+00:00,1815.0,1824.4,1732.0,1766.5,46451.711,9970.0,1770.466358
2022-06-04 05:00:00+00:00,1767.2,1814.2,1755.6,1789.8,5518.763,2365.0,1788.790718
2022-06-05 05:00:00+00:00,1790.0,1882.4,1771.2,1880.4,17919.603,4613.0,1821.562645
...,...,...,...,...,...,...,...
2022-09-25 05:00:00+00:00,1327.8,1336.2,1270.0,1294.5,35926.901,32457.0,1309.643400
2022-09-26 05:00:00+00:00,1294.6,1392.1,1278.8,1380.6,67663.865,35864.0,1345.612775
2022-09-27 05:00:00+00:00,1380.7,1400.0,1267.5,1283.9,106748.569,35943.0,1343.747512
2022-09-28 05:00:00+00:00,1283.7,1355.6,1252.3,1342.0,71509.850,35749.0,1325.222763
2022-09-29 05:00:00+00:00,1341.8,1348.3,1287.2,1333.8,67538.000,24401.0,1322.625155